<style>

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }
  .bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .source-serif-4-thin {
    font-family: "Source Serif 4", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .source-serif-4-extralight {
    font-family: "Source Serif 4", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .source-serif-4-light {
    font-family: "Source Serif 4", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .source-serif-4-regular {
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .source-serif-4-medium {
    font-family: "Source Serif 4", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .source-serif-4-semibold {
    font-family: "Source Serif 4", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .source-serif-4-bold {
    font-family: "Source Serif 4", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .source-serif-4-extrabold {
    font-family: "Source Serif 4", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .source-serif-4-black {
    font-family: "Source Serif 4", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .source-serif-4-thin-italic {
    font-family: "Source Serif 4", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .source-serif-4-extralight-italic {
    font-family: "Source Serif 4", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .source-serif-4-light-italic {
    font-family: "Source Serif 4", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .source-serif-4-regular-italic {
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .source-serif-4-medium-italic {
    font-family: "Source Serif 4", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .source-serif-4-semibold-italic {
    font-family: "Source Serif 4", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .source-serif-4-bold-italic {
    font-family: "Source Serif 4", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .source-serif-4-extrabold-italic {
    font-family: "Source Serif 4", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .source-serif-4-black-italic {
    font-family: "Source Serif 4", serif;
    font-weight: 900;
    font-style: italic;
  }
   /* Custom scrollbar styles */
 .product-list::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #DDD6D7;
}

.product-list::-webkit-scrollbar-thumb {
    background-color: #231F20;
    border-radius: 4px;
    cursor: pointer;
}

.product-list::-webkit-scrollbar-thumb:hover {
    background-color: #212121;
    height: 6px;
}

  .section-{{ section.id }}--padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media (max-width: 768px) {
    .section-{{ section.id }}--padding {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }
</style>

<div 
  class="best-sellers-section px-4 lg:px-8 section-{{ section.id }}--padding">

  <div class="py-8 relative">
    {% if section.settings.heading_title != blank %}
        <div class="flex justify-between px-8 mb-6 md:mb-9 items-center max-w-[1920px] mx-auto">
            <h2 class="text-center w-full md:w-auto md:text-left text-2xl font-black source-serif-4-bold">{{ section.settings.heading_title  }}</h2>
            {% if section.settings.heading_link_label != blank %}
              <a {% if section.settings.heading_link_url != blank %} href="{{ section.settings.heading_link_url }}"{% endif %} class="hidden md:flex text-sm text-[#5C553A] items-center poppins-semibold">{{  section.settings.heading_link_label }}
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"
                      class="ml-2">
                      <path d="M3.33334 10H16.6667M16.6667 10L11.6667 5M16.6667 10L11.6667 15" stroke="#5C553A"
                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
              </a>              
            {% endif %}
        </div>
    {% endif %}

    {% if section.settings.products_collection != blank %}
      <div id="productList"
          class="product-list px-6 md:px-0 md:ml-8 grid md:flex flex-nowrap grid-cols-2 gap-4 overflow-x-auto md:pb-12">
          <span class="w-6 bg-gray-100 absolute bottom-8 right-0 h-6  z-20 translate-y-3"></span>

          {% assign products = collections[section.settings.products_collection].products %}
          {% for product in products | limit: section.settings.products_limit_desktop %}
            <div class="product-card w-full md:w-1/4 lg:w-1/5 shrink-0  overflow-hidden">
                <div class="relative group rounded-lg overflow-hidden">
                    <span
                        class="absolute top-1 md:top-2 left-1 md:left-2  z-10 uppercase bebas-neue-regular text-[8px] md:text-[10px] bg-white py-1 px-2 rounded-full border border-black">Best
                        sellers</span>
                    <img 
                      src="{{ product.featured_image |  image_url: width: 300, height: 300  }}" height="300" width="300"
                      alt="{{  product.featured_image.alt }}"
                      class="w-full h-40 md:h-80 object-cover aspect-square" loading="lazy">
                    <img 
                      src="{{ product.images[1] |  image_url: width: 300, height: 300  }}" height="300" width="300"
                      alt="{{  product.images[1] .alt }}"
                        class="absolute inset-0 w-full h-40 md:h-80 object-cover aspect-square opacity-0 group-hover:opacity-100 transition"
                        loading="lazy">
                </div>
                <div class="py-4 px-3">
                    <h3 class="text-lg bebas-neue-regular">{{ product.title }}</h3>
                    <div class="reviews flex items-center">
                    {% assign reviews = product.metafields.custom.reviews %}
                    {% for i in (1..reviews) %}
                      <svg width="12" height="12" class="w-[9px] md:w-[12px]" viewBox="0 0 12 12" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.32279 0.887954C6.11862 0.790604 5.88141 0.790604 5.67723 0.887954C5.50072 0.972112 5.4034 1.11823 5.35433 1.19839C5.30359 1.28126 5.25151 1.38682 5.20075 1.48972L4.12288 3.67336L1.71185 4.02577C1.59836 4.04233 1.48191 4.05933 1.38745 4.08204C1.29607 4.10402 1.12711 4.15154 0.992657 4.29346C0.837112 4.45765 0.76396 4.68325 0.793571 4.90747C0.819166 5.10129 0.928088 5.23891 0.989188 5.31033C1.05235 5.38415 1.13667 5.46625 1.21885 5.54626L2.96275 7.24481L2.55127 9.64395C2.53184 9.75707 2.51192 9.87312 2.50424 9.97001C2.49682 10.0637 2.48965 10.2392 2.583 10.411C2.69098 10.6098 2.88292 10.7492 3.10535 10.7905C3.29766 10.8261 3.4623 10.7651 3.54912 10.729C3.63889 10.6918 3.7431 10.637 3.84468 10.5835L6.00001 9.45005L8.15535 10.5835C8.25693 10.637 8.36114 10.6918 8.45091 10.729C8.53773 10.7651 8.70237 10.8261 8.89467 10.7905C9.11711 10.7492 9.30904 10.6098 9.41702 10.411C9.51037 10.2392 9.5032 10.0637 9.49578 9.97001C9.48811 9.87312 9.46818 9.75708 9.44876 9.64397L9.03727 7.24481L10.7812 5.54624C10.8634 5.46623 10.9477 5.38414 11.0108 5.31033C11.0719 5.23891 11.1809 5.10129 11.2065 4.90747C11.2361 4.68325 11.1629 4.45765 11.0074 4.29346C10.8729 4.15154 10.704 4.10402 10.6126 4.08204C10.5181 4.05933 10.4017 4.04233 10.2882 4.02577L7.87714 3.67336L6.7993 1.48976C6.74853 1.38686 6.69644 1.28127 6.6457 1.19839C6.59662 1.11823 6.4993 0.972112 6.32279 0.887954Z"
                                fill="#231F20" />
                        </svg>
                    {% endfor %}
                    
                    <!-- Renderizar el resto de las estrellas en blanco -->
                    {% assign remaining_stars = 5 - reviews %}
                    {% for i in (1..remaining_stars) %}
                      <svg width="12" height="12" class="w-[9px] md:w-[12px]" viewBox="0 0 12 12" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.887832 5.67721C0.790482 5.88138 0.790482 6.11859 0.887832 6.32277C0.97199 6.49928 1.11811 6.5966 1.19827 6.64567C1.28114 6.69641 1.3867 6.74849 1.4896 6.79925L3.67324 7.87712L4.02564 10.2881C4.04221 10.4016 4.05921 10.5181 4.08192 10.6126C4.10389 10.7039 4.15142 10.8729 4.29334 11.0073C4.45752 11.1629 4.68313 11.236 4.90735 11.2064C5.10117 11.1808 5.23879 11.0719 5.3102 11.0108C5.38402 10.9477 5.46612 10.8633 5.54614 10.7811L7.24469 9.03725L9.64383 9.44873C9.75694 9.46816 9.87299 9.48808 9.96988 9.49576C10.0636 9.50318 10.239 9.51035 10.4109 9.417C10.6097 9.30902 10.7491 9.11708 10.7904 8.89465C10.826 8.70234 10.7649 8.5377 10.7289 8.45088C10.6917 8.36111 10.6368 8.2569 10.5834 8.15532L9.44993 5.99999L10.5834 3.84465C10.6368 3.74307 10.6917 3.63886 10.7289 3.54909C10.7649 3.46227 10.826 3.29763 10.7904 3.10533C10.7491 2.88289 10.6097 2.69096 10.4109 2.58298C10.239 2.48963 10.0636 2.4968 9.96988 2.50422C9.873 2.51189 9.75696 2.53182 9.64385 2.55124L7.24469 2.96273L5.54612 1.21881C5.46611 1.13663 5.38402 1.05232 5.3102 0.989164C5.23879 0.928063 5.10117 0.819141 4.90735 0.793546C4.68313 0.763936 4.45752 0.837087 4.29334 0.992633C4.15142 1.12709 4.1039 1.29604 4.08192 1.38742C4.05921 1.48188 4.04221 1.59834 4.02564 1.71183L3.67324 4.12286L1.48963 5.2007C1.38673 5.25147 1.28114 5.30356 1.19827 5.3543C1.11811 5.40338 0.97199 5.5007 0.887832 5.67721Z"
                                fill="url(#paint0_linear_1_2143)" />
                            <defs>
                                <linearGradient id="paint0_linear_1_2143" x1="0.814819" y1="5.99999" x2="10.8012"
                                    y2="5.99999" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#231F20" />
                                    <stop offset="0.35863" stop-color="#231F20" />
                                    <stop offset="0.35873" stop-color="#CFCFCF" />
                                </linearGradient>
                            </defs>
                        </svg>
                    {% endfor %}  
                        <span class="text-[#707070] ml-2 text-[11px] md:text-xs poppins-regular">{{product.metafields.custom.total_reviews}} Reviews</span>
                    </div>
                    <p class="text-[#1C1D1D] poppins-medium mt-2">{{  product.price |  money }}</p>
                </div>
            </div>
          {% endfor  %}          
      </div>

      {% if section.settings.show_more_button_label != blank %}
        <div class="block md:hidden w-full mt-2 rounded-full px-6 max-w-[1920px] mx-auto">
            <button 
              id="show-more" 
              class="py-4 button button--{{ section.settings.button_style }} text-white rounded-full w-full"
              data-limit-mobile="{{ section.settings.products_limit_mobile }}"
              data-show-less="{{ section.settings.show_less_button_label }}"
              data-show-more="{{ section.settings.show_more_button_label }}"
              >{{ section.settings.show_more_button_label }}</button>
        </div>
        
      {% endif %}
      
    {% endif %}
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
  const productList = document.getElementById("productList");
  const showMoreBtn = document.getElementById("show-more");
  const productCards = productList.querySelectorAll(".product-card");
  const productLimit = parseInt(showMoreBtn.dataset.productLimitMobile)

  // Add event listener to Show More button
  showMoreBtn.addEventListener("click", () => {
    productCards.forEach((card, index) => {
      if (index >= productLimit ) {
        card.classList.toggle("hidden");
      }
    });
    if (showMoreBtn.textContent === showMoreBtn.dataset.showMore) {
      showMoreBtn.textContent = showMoreBtn.dataset.showLess;
    } else {
      showMoreBtn.textContent = showMoreBtn.dataset.showMore;
    }
  });
});

</script>

{% schema %}
    {
      "name": "Best Sellers",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading_title",
          "label": "Heading Title",
          "default": "Best Sellers"
        },
        {
          "type": "select",
          "id": "title_alignment",
          "label": "Title Alignment",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ],
          "default": "center"
        },
        {
          "type": "range",
          "id": "title_size",
          "label": "Title Size",
          "min": 10,
          "max": 100,
          "default": 24,
          "step": 1
        },
        {
          "type": "url",
          "id": "heading_link_url",
          "label": "Heading Link URL"
        },
        {
          "type": "inline_richtext",
          "id": "heading_link_label",
          "label": "Heading Link Label",
          "default": "Shop All Best Sellers"
        },
        {
          "type": "collection",
          "id": "products_collection",
          "label": "Select Collection"
        },
        {
          "type": "number",
          "id": "products_limit_desktop",
          "label": "Number of Products (Desktop)",
          "default": 4,
          "min": 1,
          "max": 10
        },
        {
          "type": "inline_richtext",
          "id": "show_more_button_label",
          "label": "Show More Button Label",
          "default": "Show more"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button Style",
          "options": [
            { "value": "default", "label": "Default" },
            { "value": "primary", "label": "Primary" },
            { "value": "secondary", "label": "Secondary" }
          ],
          "default": "default"
        },
        {
          "type": "number",
          "id": "padding_top",
          "label": "Padding Top",
          "default": 20,
          "min": 0,
          "max": 100
        },
        {
          "type": "number",
          "id": "padding_bottom",
          "label": "Padding Bottom",
          "default": 20,
          "min": 0,
          "max": 100
        },
        {
          "type": "header",
          "content": "Mobile Settings"
        },
        {
          "type": "number",
          "id": "products_limit_mobile",
          "label": "Number of Products",
          "default": 4,
          "min": 1,
          "max": 10
        },
        {
          "type": "number",
          "id": "padding_top_mobile",
          "label": "Padding Top",
          "default": 15,
          "min": 0,
          "max": 100
        },
        {
          "type": "number",
          "id": "padding_bottom_mobile",
          "label": "Padding Bottom",
          "default": 15,
          "min": 0,
          "max": 100
        }
      ],
      "presets": [
        {
          "name": "Best Sellers",
          "category": "Products"
        }
      ]
    }
{% endschema %}
    